<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request Itinerary</title>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-4">

<div class="max-w-xl mx-auto bg-white shadow-md rounded-md p-6">

  <h1 class="text-3xl font-bold mb-6">Solicitar Itinerario</h1>

  <form id="generation-form" hx-target="this" hx-post="/itinerary/generate" method="post" hx-swap="outerHTML" hx-indicator="#indicator">

    <div class="mb-4">
      <label for="city" class="block text-gray-700 font-semibold mb-2">Ciudad</label>
      <input type="text" id="city" name="city" class="border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 w-full py-2 px-3">
    </div>

    <div class="mb-4">
      <label for="amountOfDays" class="block text-gray-700 font-semibold mb-2">Días</label>
      <input type="number" id="amountOfDays" name="amountOfDays" min="1" class="border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 w-full py-2 px-3">
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md">Solicitar</button>
    <img id="indicator" class="htmx-indicator" src="/spinner.gif"/>
  </form>

</div>

</body>

</html>
